 <main class="container">
  <!-- secao um -->
        <section class="section-row">
            <!-- bloco um -->
            <header class="header div-box bgc-red">
                <h1 class="glitched">Alexandre</h1>
            </header>
            <!-- bloco dois  -->
            <div class="div-box ">
                <p class="div-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi dignissimos
                    quidem voluptatibus
                    doloribus illo sapiente est, quisquam necessitatibus. Excepturi dignissimos quidem voluptatibus
                    doloribus illo sapiente est, quisquam necessitatibus. Excepturi dignissimos quidem voluptatibus
                    doloribus illo sapiente est, quisquam necessitatibus. Excepturi dignissimos quidem voluptatibus
                    doloribus illo sapiente est, quisquam necessitatibus.</p>
            </div>
        </section>

        <!-- secao dois -->
        <section class="section-row">
            <!-- bloco um  -->
            <div class="div-box div-perfil">
                <h3>Meu perfil</h3>
                <p class="div-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi dignissimos
                    quidem voluptatibus
                    doloribus illo sapiente est, quisquam necessitatibus. Excepturi dignissimos quidem voluptatibus
                    doloribus illo sapiente est, quisquam necessitatibus.</p>
            </div>
            <!-- bloco dois -->
            <div class="div-box bgc-red">
                <figure>
                    <img src="/img/perfil.jpg" alt="perfil-alexandre" width="250px">
                    <figcaption>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet
                        consectetur adipisicing elit.</figcaption>
                </figure>
            </div>
        </section>

        <!-- secao tres -->
        <section class="section-row">
            <!-- bloco dois -->
            <!-- imagem -->
            <div class="div-box div-img">
            </div>
            <!-- bloco um  -->
            <div class="div-box div-perfil">
                <h3>Parque Edu Chaves</h3>
                <p class="div-paragraph">O Parque Edu Chaves é um bairro da Cidade de São Paulo. Situa-se à margem do
                    Rio Cabuçu de Cima, da Rodovia Fernão Dias e faz divisa com o município de Guarulhos. Recebeu este
                    nome em homenagem ao aviador Eduardo Pacheco Chaves, alguns atribuem que era utilizado como local de
                    pista de treino.</p>
            </div>
        </section>

        <!-- secao quatro -->
        <section class="section-history section-row">
            <div class="div-history">
                <h3>Minha Historia</h3>
                <p class="div-paragraph2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia delectus sint
                    ex corrupti, magnam sit sunt
                    voluptatum autem quod assumenda quam nisi voluptatem fugit, in harum distinctio iste tempore
                    nostrum.
                </p>
                <p class="div-paragraph2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia delectus sint
                    ex corrupti, magnam sit sunt
                    voluptatum autem quod assumenda quam nisi voluptatem fugit, in harum distinctio iste tempore
                    nostrum.
                </p>
                <p class="div-paragraph2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia delectus sint
                    ex corrupti, magnam sit sunt
                    voluptatum autem quod assumenda quam nisi voluptatem fugit, in harum distinctio iste tempore
                    nostrum.
                </p>
            </div>
            <!-- imagem -->
            <div class="div-img2 marquee">
                <img src="/img/gashbell.png" alt="gash bell">
                <img src="/img/hxh.jpg" alt="hunter x hunter">
                <img src="/img/onepiece.jpg" alt="one piece">
                <img src="/img/zeronotsukaima.jpg" alt="zero no tsukaima">
                <img src="/img/bento.jpg" alt="ben to">
                <img src="/img/blackclover.jpg" alt="black clover">
            </div>
        </section>

        <!-- secao cinco formulario -->
        <section class="section-row section-form">
            <div class="cor-primaria">
                <h3>Formulario de contato - Fale Comigo</h3>
            </div>
            <div class="cor-secundaria">
                <form action="/new" method="POST">
                    <div class="one">
                        <div class="group">
                            <input type="text" name="name" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Seu nome</label>
                        </div>

                        <div class="group">
                            <input type="text" name="email" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Seu email</label>
                        </div>


                        <div class="group">
                            <input type="text" name="onde" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>onde me conhece</label>
                        </div>

                        <div class="group">
                            <input type="text" name="phone" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>numero</label>
                        </div>
                    </div>
                        <div class="form-class two">
                            <label for="msg" class="lblText">Me conte algo</label>
                            <textarea name="message" id="msg" cols="60" rows="10" class=""></textarea>

                            <button class="bubbly-button" type="submit">Envie sua mensagem</button>
                        </div>
                </form>
            </div>
            <footer class="cor-terciaria">
                <h3>&copy; BandTec - Projeto PI Desenvolvido por <a href="https://github.com/Aleyucra74" target="_blank" rel="noopener noreferrer"> Alexandre</a></h3>
            </footer>
        </section>
        <a href="/show"><button class="bubbly-button">Ver mensagens</button></a>
</main>