* {
    box-sizing: border-box;
    margin: 25px;
    padding: 0;
}

html,
body {
    height: 100%;
    background-color: #EEF2F7;
}

html {
    margin: 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

.section-row {
    display: flex;
    flex-direction: row;
    margin-right: -15px;
    margin-left: -15px;
    min-height: 400px;
    background-color: #fff;
    margin: 0;
}

.section-history {
    margin-top: 25px;
    max-height: 600px;
}

.section-form {
    margin-top: 25px;
    min-height: 600px;
    position: relative;

}

.cor-primaria {
    background-color: #000;
    z-index: 0;
    width: 100%;
    height: 90px;
    color: seashell;
    margin: 0;
    padding: 0;
}

.cor-primaria h3 {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    font-size: 2rem;
}

.cor-secundaria {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    z-index: 1;
    width: 95%;
    height: 65%;
    top: 50px;
    left: 3px;
    background-color: #fff;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

form {
    display: flex;
    flex-direction: row;
}

form .lblText,
textarea {
    letter-spacing: 1px;
    margin-top: 0;
}
textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    resize: none;
}

form .lblText {
    margin-bottom: 10px;
    position: relative;
}

.cor-terciaria {
    background-color: #00004d;
    position: absolute;
    z-index: 0;
    top: 400px;
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
}

.cor-terciaria h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    color: #fff;
}

.cor-terciaria h3>a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 5px;
}

.div-box {
    width: 50%;
    height: 400px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgc-red {
    background-color: #00004d;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-size: 5rem;
    columns: #222222;
    text-align: center;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 900;
}

h3 {
    columns: #222222;
    text-align: center;
    margin-top: 0;
    font-weight: 900;
    font-family: 'Raleway', Helvetica, sans-serif;
}

.glitch-window {
    display: flex;
    position: absolute;
    left: 30px;
    width: 100%;
    color: #222222;
    text-shadow: 2px 0 #f9f8f8, -1px 0 yellow, -2px 0 green;
    overflow: hidden;
    animation: crt-me 2500ms infinite linear alternate-reverse;
    /* background: red; */
}

/* //Animation Keyframes */
@keyframes crt-me {
    0% {
        clip: rect(31px, 9999px, 94px, 0)
    }

    10% {
        clip: rect(112px, 9999px, 76px, 0)
    }

    20% {
        clip: rect(85px, 9999px, 77px, 0)
    }

    30% {
        clip: rect(27px, 9999px, 97px, 0)
    }

    40% {
        clip: rect(64px, 9999px, 98px, 0)
    }

    50% {
        clip: rect(61px, 9999px, 85px, 0)
    }

    60% {
        clip: rect(99px, 9999px, 114px, 0)
    }

    70% {
        clip: rect(34px, 9999px, 115px, 0)
    }

    80% {
        clip: rect(98px, 9999px, 129px, 0)
    }

    90% {
        clip: rect(43px, 9999px, 96px, 0)
    }

    100% {
        clip: rect(82px, 9999px, 64px, 0)
    }

}

div .div-paragraph {
    font-family: devioussans02extrabold, Helvetica Neue, Helvetica, Arial, メイリオ, meiryo, ヒラギノ角ゴ pro w3, hiragino kaku gothic pro, sans-serif;
    line-height: 33px;
    font-size: 25px;
    text-align: justify;
    color: #bfbfbf;
    font-weight: 700;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.616);
}

div .div-paragraph2 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 30px;
    font-size: 25px;
    text-align: start;
    color: #000;
    font-weight: 600;
}

.div-perfil {
    flex-direction: column;
    text-align: justify;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure img {
    border-radius: 50%;
    filter: grayscale(100%);
    transition: .3s ease-in-out;
}

figure img:hover {
    filter: grayscale(0);
}

figure figcaption {
    line-height: 30px;
    font-size: 20px;
    color: #bfbfbf;
    text-align: justify;
    font-weight: 700;
    margin-top: 0;
}

.div-img {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('../img/educhaves.jpg');
    filter: grayscale(100%);
    transition: .3s ease-in-out;
}

.div-img:hover {
    filter: grayscale(0);
}

@keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }

    10% {
        transform: translateX(0);
        opacity: 1;
    }

    20% {
        transform: translateX(0);
        opacity: 1;
    }

    30% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}

.div-img2 {
    overflow: hidden;
    filter: grayscale(100%);
    transition: .3s ease-in-out;
    min-width: 40%;
    position: relative;
}

.div-img2>img {
    position: absolute;
    top: 0;
    /* left: calc(50% - 100px); */
    opacity: 0;
    animation: display 10s infinite;
}

.div-img2 img {
    height: 100%;
    width: 100%;
}

img:nth-child(2) {
    animation-delay: 2s;
}

img:nth-child(3) {
    animation-delay: 4s;
}

img:nth-child(4) {
    animation-delay: 6s;
}

img:nth-child(5) {
    animation-delay: 8s;
}

.div-img2:hover {
    filter: grayscale(0);
}

/* form */
.group {
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 350px;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

/* ====== label ========== */
label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: -10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

/* ======== bar ========= */
.bar {
    position: relative;
    display: block;
    width: 350px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 25px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

/* ==== highlighter =====*/
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

/* btn */
.bubbly-button {
    font-family: "Helvetica", "Arial", sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    margin-top: 1px;
    margin-left: 380px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ff0081;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
  }
  .bubbly-button:focus {
    outline: 0;
  }
  .bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  .bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  }
  .bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }
  .bubbly-button:active {
    transform: scale(0.9);
    background-color: #e60074;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
  .bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
  }
  .bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
  }
  
  @keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  @keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }